*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  height: 100%;
  font-size: 0.9em;
  background: rgb(242, 242, 242);
}
.info {
  padding: 1em;
}
.info a {
  color: #ccc;
}
.info a.active {
  color: #000;
}
